body{
    background-image: linear-gradient( 180deg, #6495ED 5%, #00FFFF 20%, #008B8B 60%, #00ced1);
    margin: 0;
    min-height: 100vh;
    width: 100%;
}
main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    
}
main > section img{
    height: 300px;
    margin: 15px 0;
    width: 300px;
}
button{
    background-color: #00bfff;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: EuclidBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 9px 23px;
    display: block;
    margin: auto;

}
#detalhes-container{
    font-weight: bold;
    list-style-type: none;
    
    width: 90%;

}
#detalhes-container > li{
    align-items: baseline;
    display: inline;
    display: flex;
}
#detalhes-container > li p {
    color: white;
}